In [1]:
import numpy as np
import pandas as pd
from IPython.display import display

In [8]:
ay2223_xlsx_file = "./AY22-23.xlsx"
ay2324_xlsx_file = "./AY23-24.xlsx"

ay22_23 = pd.read_excel(ay2223_xlsx_file, engine='openpyxl')
ay22_23.rename(columns={'Constituent\Last/Organization/Group/Household name': 'Last name', 
                        'Constituent\First name': 'First name', 
                        'Constituent\Lookup ID': 'Lookup ID', 
                        'COUNT(Lookup ID)': 'Count'}, inplace=True)
print(ay22_23.info())
ay23_24 = pd.read_excel(ay2324_xlsx_file, engine='openpyxl')
ay23_24.rename(columns={'Constituent\Last/Organization/Group/Household name': 'Last name', 
                        'Constituent\First name': 'First name', 
                        'Constituent\Lookup ID': 'Lookup ID', 
                        'COUNT(Lookup ID)': 'Count'}, inplace=True)
print(ay23_24.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5660 entries, 0 to 5659
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Last name   5653 non-null   object
 1   First name  5659 non-null   object
 2   Lookup ID   5660 non-null   object
 3   Count       5660 non-null   int64
dtypes: int64(1), object(3)
memory usage: 177.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2896 entries, 0 to 2895
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Last name   2893 non-null   object
 1   First name  2894 non-null   object
 2   Lookup ID   2896 non-null   object
 3   Count       2896 non-null   int64
dtypes: int64(1), object(3)
memory usage: 90.6+ KB
None

In [9]:
ay23_24['Lookup ID'].isin(ay22_23['Lookup ID'].tolist())

0        True
1       False
2       False
3       False
4        True
        ...
2891    False
2892    False
2893    False
2894     True
2895    False
Name: Lookup ID, Length: 2896, dtype: bool

In [13]:
sum(ay23_24['Lookup ID'].isin(ay22_23['Lookup ID'].tolist()))

655