In [1]:
import numpy as np
import pandas as pd
from IPython.display import display

In [2]:
ay2223_xlsx_file = "./AY22-23.xlsx"
ay2324_xlsx_file = "./AY23-24.xlsx"

ay22_23 = pd.read_excel(ay2223_xlsx_file, engine='openpyxl')
ay22_23.rename(columns={'Constituent\Last/Organization/Group/Household name': 'Last name', 
                        'Constituent\First name': 'First name', 
                        'Constituent\Lookup ID': 'Lookup ID'}, inplace=True)
print(ay22_23.info())
ay23_24 = pd.read_excel(ay2324_xlsx_file, engine='openpyxl')
ay23_24.rename(columns={'Constituent\Last/Organization/Group/Household name': 'Last name', 
                        'Constituent\First name': 'First name', 
                        'Constituent\Lookup ID': 'Lookup ID'}, inplace=True)
print(ay23_24.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6824 entries, 0 to 6823
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Last name          6817 non-null   object
 1   First name         6823 non-null   object
 2   Lookup ID          6824 non-null   object
 3   Transaction date   6824 non-null   datetime64[ns]
 4   Sales method type  6824 non-null   object
dtypes: datetime64[ns](1), object(4)
memory usage: 266.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4266 entries, 0 to 4265
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Last name          4262 non-null   object
 1   First name         4264 non-null   object
 2   Lookup ID          4266 non-null   object
 3   Transaction date   4266 non-null   datetime64[ns]
 4   Sales method type  4266 non-null   object
dtypes: datetime64[ns](1), object(4)
memory usage: 166.8+ KB
None

In [5]:
ay22_23 = ay22_23.drop_duplicates()
print(len(ay22_23))
ay23_24 = ay23_24.drop_duplicates()
print(len(ay23_24))

6651
3984

In [6]:
ay23_24['Lookup ID'].isin(ay22_23['Lookup ID'].unique().tolist())

0       False
1       False
2       False
3       False
4       False
        ...
4260     True
4261     True
4263     True
4264     True
4265     True
Name: Lookup ID, Length: 3984, dtype: bool

In [7]:
repeats = ay23_24[ay23_24['Lookup ID'].isin(ay22_23['Lookup ID'].unique().tolist())]

In [8]:
len(repeats['Lookup ID'].unique())

655

In [27]:
fy24_xlsx_file = "./Attendees by Date FY24.xlsx"
fy24 = pd.read_excel(fy24_xlsx_file, engine='openpyxl')
fy24.rename(columns={'Last/Organization/Group/Household name': 'Last name'}, inplace=True)
print(fy24.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4074 entries, 0 to 4073
Data columns (total 4 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Lookup ID                              4074 non-null   object
 1   Sales Orders\Reservation\Arrival date  258 non-null    datetime64[ns]
 2   Last name                              4074 non-null   object
 3   First name                             4069 non-null   object
dtypes: datetime64[ns](1), object(3)
memory usage: 127.4+ KB
None

In [28]:
reps = fy24.groupby(fy24['Lookup ID'].tolist(), as_           index=False).size()
display(reps)

           index  size
0     8-10001157     1
1     8-10001273     1
2     8-10001283     1
3     8-10001367     6
4     8-10001396     4
...          ...   ...
3652  8-10033375     1
3653  8-10033376     1
3654  8-10033377     1
3655  8-10033378     1
3656  8-10033379     1

[3657 rows x 2 columns]

In [29]:
len(sum(np.where(reps['size'] > 1)))

184